.logo-container {
  z-index: 0;
  width: 200px;
  height: 609px;
  right: 15%;
  bottom: auto;
  margin-top: 40;
  margin: auto;
}

svg {
  width: 100%;
  height: auto;
  bottom: 0;
}

.solid-logo {
  right: auto;
  position: absolute;
  bottom: auto;
  left: 0;
  width: 50%;
  left: -29px;
}
